.app {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.imgLogo {
    width: 40px;
    height: 40px;
}

.imgtext {
    margin-left: 10px;
}

.heading {
    font-size: 40px;
    font-weight: 700;
    width: 500px;
    text-align: center;
}

.layout {
    width: 100%;
}

.nav {
    width: 10%;
}

.convert {
}

.preview {
}

.button {
}

.navbarrrr {
    width: 100%;
}

.question-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    margin-left: 200px;
    gap: 10px;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 30px;
}

.options-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    width: 300px;
    padding: 20px;
    border: 2px solid #89aff5;
    border-radius: 20px;
    gap: 20px;
}

.toggle-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.toggle-button:hover {
    background-color: #45a049;
}

.question-list {
    padding: 0px 15px;
    border-radius: 8px;
    width: 1000px;
}

.question-item {
    display: flex;
    text-align: start;
    gap: 10px;
}

.heading-question {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.question-list h2 {
    color: #333;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 2px solid #4caf50;
    padding-bottom: 15px;
}

.fill_in_the_blank--wrap {
}

.fill_in_the_blank--wrap-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.input-answer {
    padding: 4px;
}

.submit-answer {
    background: #7fc0eb;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px;
}

.question-list ul {
    margin-top: 20px;
}

.question-list li {
}

.question-list li:hover {
}

.options-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.option-item-group {
    margin-top: 10px;
    display: flex;
}

.option-item {
    background: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.option-item:hover {
    background: #e0e0e0;
}

.selected {
    background: #ddd;
}

.correct {
    background: #4caf50;
}

.answer-correct {
    color: green;
    font-weight: bold;
}

.answer-wrong {
    color: red;
    font-weight: bold;
}

.download-button {
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 10px;
}

.download-button:hover {
    background-color: #1e88e5;
}
